<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="domain.tiger.axon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:name="android.support.multidex.MultiDexApplication" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".GroupNavigationActivity"
            android:label="group" />
        <activity
            android:name=".GroupCreateActivity"
            android:theme="@style/AppTheme.popup" />
        <activity android:name=".GroupViewActivity" />
        <activity
            android:name=".PreferenceActivity"
            android:theme="@style/AppTheme.popup" />
        <activity android:name=".RecListActivity" />
        <activity android:name=".GroupAvailableActivity" />
        <activity android:name=".UsersGroupsActivity"></activity>
    </application>

</manifest>